*{
    margin: 0;
    padding: 0;
}
body {
            background-color: #002B7A;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }

        .texto{
            color: white;
        }
        
        .espacio{
            margin-bottom: 20px;
        }

        .header {
            background-color: #1f1f20;
            color: white;
            padding: 20px;
            text-align: center;
        }
        .header2 {
            padding: 20px;
            text-align: center;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 20px;
        }
        .grid-item {
            text-align: center;
        }
        .grid-item img {
            width: 200px; 
            height: 200px; 
            border-radius: 50%;
            object-fit: cover; 
        }
        .menu {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .menu button {
            margin: 5px;
            padding: 10px 20px;
            background-color: #ff0d51;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .menu button:hover {
            background-color: #ff0d51;
        }
 .card-img-top {
            height: 200px;
            object-fit: cover; /* Mantiene la proporción de la imagen y cubre el espacio asignado */
            width: 100%;
        }
        
        .navbar-brand img {
            width: 70px;
            height: 70px;
            object-fit: contain; /* Mantiene la proporción del logo */
        }
